@page
@model GranjaAvicola.App.FrontEnd.Pages.RegistroControlGalponesModel
@{
}

<div class="Transbox text-center" style="padding: 10px;">
    <h1 class="display-5"> Administración de Galpones </h1>
</div>
@* Un div pa meterle las 2 columnas *@
<div class="BoxContainer">

    <div class="Transbox">
        @if (!Model.UpdateState)
        {
            <header>
                <h1 class="display-5">Registro</h1>
            </header>
            <hr>
            @if (Model.CreateEntry)
            {                            
                <h3 class="clearfix">@Model.Message[0]</h3>
                <p>@Model.Message[1]</p> 
            }
            <Body>
                <form asp-page-handler = "create" method="post">
                    <div class="FormContainer">
                        <label>Nombre Galpon</label>
                        <input name="NombreGalpon"      autocomplete="off" class="FormInput" placeholder="Nombre">
                        
                        <label>Numero De animales</label>
                        <input name="NumeroAnimales"    autocomplete="off" class="FormInput" placeholder="0" type="number">
                        
                        <label>Fecha de ingreso</label>
                        <input name="FechaIngreso"      autocomplete="off" class="FormInput" placeholder="dd/mm/aaaa" type="date">
                        
                        <label>Fecha de Salida</label>
                        <input name="FechaSalida"       autocomplete="off" class="FormInput" placeholder="dd/mm/aaaa" type="date">

                        <label>Altitud</label>
                        <input name="Altitud"           autocomplete="off" class="FormInput" placeholder="Altitud">
                        
                        <label>Latitud</label>
                        <input name="Latitud"           autocomplete="off" class="FormInput" placeholder="Latitud">
                    </div>
                    
                    <button class="btn btn-outline-secondary">
                        Registrar 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </form>
            </Body>
        } else
        {
            <header>
                <h1 class="display-5">Actualizar</h1>
            </header>
            <hr>
            <Body>
                <form asp-page-handler = "Update_set" method="post">
                    <div class="FormContainer">

                        <label>ID Galpon</label>
                        <input name="Update_GalponID"          asp-for="galpon.ID_Galpon" autocomplete="off" class="FormInput" placeholder="Nombre" readonly>
                        
                        <label>Nombre Galpon</label>
                        <input name="Update_NombreGalpon"      asp-for="galpon.Nombre" autocomplete="off" class="FormInput" placeholder="Nombre">
                        
                        <label>Numero De animales</label>
                        <input name="Update_NumeroAnimales"    asp-for="galpon.NumeroAnimales" autocomplete="off" class="FormInput" placeholder="0" type="number">
                        
                        <label>Fecha de ingreso</label>
                        <input name="Update_FechaIngreso"      asp-for="galpon.FechaIngreso" autocomplete="off" class="FormInput" placeholder="dd/mm/aaaa" type="date">
                        
                        <label>Fecha de Salida</label>
                        <input name="Update_FechaSalida"       asp-for="galpon.FechaSalida" autocomplete="off" class="FormInput" placeholder="dd/mm/aaaa" type="date">

                        <input name="Update_IDgeoreferencias"  asp-for="galpon.Georeferencia" readonly type="hidden">

                        <label>Altitud</label>
                        <input name="Update_Altitud"           asp-for="georeferencia.altitud" autocomplete="off" class="FormInput" placeholder="Altitud">
                        
                        <label>Latitud</label>
                        <input name="Update_Latitud"           asp-for="georeferencia.latitud" autocomplete="off" class="FormInput" placeholder="Latitud">
                    </div>
                    
                    <button class="btn btn-outline-secondary">
                        Actualizar 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                </form>
                <a href="./RegistroControlGalpones">xd</a>
            </Body>
        }
    </div>

    <div class="Transbox">
        <header>
            <h1 class="display-5">Busqueda Rapida</h1>
        </header>
        <hr>
        <body>
            <div class="FormContainer">
                <div>
                    <form asp-page-handler="Read" method="post">
                        <label style="padding-right: 1rem;">Buscar Galpón</label>
                        <input type="text" class="FormInput" name="SearchID"> 
                        <button class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                @if (Model.searchQueried)
                {
                    @if (Model.galpon == null)
                    {
                        <h3 class="clearfix">@Model.Message[2]</h3>
                        //<img src="https://i.ytimg.com/vi/HR7L_mOsa80/maxresdefault.jpg" alt="GODDAMMIT KRISS" style="width:700px;height:500px;">
                    }
                    else
                    {
                        <div style="margin-bottom: 2rem;">
                            <Table class="infoTable">
                                <tr>
                                    <th>Nombre:</th>
                                    <td>@Model.galpon.Nombre</td>
                                </tr>
                                <tr>
                                    <th>Numero de animales:</th>
                                    <td>@Model.galpon.NumeroAnimales</td>
                                </tr>
                                <tr>
                                    <th>Fecha de ingreso:</th>
                                    <td>@Model.galpon.FechaIngreso.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <th>Fecha de salida:</th>
                                    <td>@Model.galpon.FechaSalida.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <th>Altitud:</th>
                                    <td>@Model.georeferencia.altitud</td>
                                </tr>
                                <tr>
                                    <th>Latitud:</th>
                                    <td>@Model.georeferencia.latitud</td>
                                </tr>
                                <tr style="border-top: 3px solid #aaaaaa;">
                                    <th>ID Operario Asignado:</th>
                                    @if(Model.galpon.ID_OperarioCargo == 0)
                                    {
                                        <td>Sin Asignar</td>
                                    }else
                                    {
                                        <td>@Model.galpon.ID_OperarioCargo</td>
                                    }
                                </tr>
                                <tr>
                                    <th>Nombre Operario:</th>
                                    @if(Model.galpon.ID_OperarioCargo == 0)
                                    {
                                        <td>Sin Asignar</td>
                                    }else
                                    {
                                        <td>@Model.galpon.ID_OperarioCargo</td>
                                    }
                                </tr>
                                <tr style="border-top: 3px solid #aaaaaa;">
                                    <th>ID Veterinario Asignado:</th>
                                    @if(Model.galpon.ID_VeterinarioCargo == 0)
                                    {
                                        <td>Sin Asignar</td>
                                    }else
                                    {
                                        <td>@Model.galpon.ID_VeterinarioCargo</td>
                                    }
                                </tr>
                                <tr>
                                    <th>Nombre Veterinario:</th>
                                    @if(Model.galpon.ID_VeterinarioCargo == 0)
                                    {
                                        <td>Sin Asignar</td>
                                    }else
                                    {
                                        <td>@Model.veterinario.Nombre @Model.veterinario.Apellido</td>
                                    }
                                </tr>
                            </Table>
                        </div>
                    }
                }
                <div style="display: flex; justify-content: space-around;">
                    @if (Model.galpon != null && Model.searchQueried)
                    {
                        
                        <form asp-page-handler="Update_get" method="post">
                            <input type="hidden" name="TempID" asp-for="galpon.ID_Galpon">
                            <button class="btn btn-outline-secondary">
                                Editar
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>
                            <input type="hidden" value="31">
                        </form>
                        <form asp-page-handler="delete" method="post">
                            <input type="hidden" name="TempID" asp-for="galpon.ID_Galpon">
                            <button class="btn btn-outline-danger">
                                Eliminar 
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                            </button>
                        </form>
                    }
                </div>
            </div> 
        </body>
    </div>
</div>