@page
@model GranjaAvicola.App.FrontEnd.Pages.listadoOperarioModel
@{
}
<div class="Transbox text-center">
    <h1>Listado de Veterinarios</h1>
</div>

<div class="Transbox">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Persona in Model.persona)
            { 
                if(Persona.ID_Rol.Equals(1)){
                    <tr>
                        <td style="text-align: left;">@Persona.Id_Persona</td>
                        <td style="text-align: left;">@Persona.Nombre @Persona.Apellido</td>
                        <td style="text-align: left;">@Persona.Telefono</td>
                        <td style="text-align: left;">@Persona.Correo</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>