@page
@model GranjaAvicola.App.FrontEnd.Pages.RegistroOperarioModel
@{
    <title>@ViewData["Title"]Operarios</title>
}
@* Titulo *@
<div class="Transbox text-center" style="padding: 10px;">
    <h1 class="display-5"> Registro Operario </h1>
</div>
@* Un div pa meterle las 2 columnas *@
<div class="BoxContainer">
    @*
        div para info personal
        TODO: Hay que ajustar los ID de cada input.
        TODO: Hay que volver los elementos de ahi Responsive utilizando Media Queries en el CSS
    *@

    <div class="Transbox">

        @if (!Model.updateQueried)
        {
            <header>
            <h1 class="display-5">Información Personal</h1>
        </header>
        <hr>

        <Body>
            <div class="row">

                <form asp-page-handler="create" method="post">
                    <div class="FormContainer">

                        @if (Model.CreateEntry)
                        {                            
                            <h3 class="clearfix">@Model.Message</h3>
                            <p>@Model.Message</p> 
                        }

                        <label for="NombreOperario">Nombre Completo</label>
                        <input name="NombreOperario" class="FormInput" id="NombreGalpon"
                            placeholder="Nombre y Apellido">
                        <span asp-validation-for=persona.Nombre class="text-danger"></span>

                        <label for="Telefono">Telefono</label>
                        <input name="Telefono" class="FormInput" id="NumeroAGalpon" placeholder="(000) 000 0000">


                        <label for="genero">Genero</label>
                        <select name="genero" class="FormInput" id="Genero">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Bisexual">Bisexual</option>
                            <option value="Intersexual">Intersexual</option>
                            <option value="Pansexual">Pansexual</option>
                            <option value="Transexual">Transexual</option>
                        </select>

                        <label for="Correo">Correo</label>
                        <input name="Correo" class="FormInput" id="NumeroAGalpon" placeholder="Ejemplo@mail.com">
                        <span asp-validation-for=persona.Correo class="text-danger"></span>

                    </div>

                    @* </div> *@
                    <button type="submit" class="btn btn-outline-secondary">
                        Registrar
                        @*<input type="submit"> @*Input metido en el botton *@
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-plus" viewBox="0 0 16 16">
                            <path
                                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            <path fill-rule="evenodd"
                                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </button>
                </form>


                @if (Model.upload)
                {
                    <div style="padding-left: 50px;">
                        <h3 class="clearfix">@Model.Message</h3>
                        <p>ID Operario: <strong>@Model.Temporal.Id_Persona</strong></p>
                        <p>Nombre Operario: <strong>@Model.Temporal.Nombre</strong></p>
                        <p>Telefono: <strong>@Model.Temporal.Telefono</strong></p>
                        <p>Correo: <strong>@Model.Temporal.Correo</strong></p>
                        <p>Genero: <strong>@Model.Temporal.Genero</strong></p>
                    </div>
                }
            </div>
        </Body>
        }
        else
        {
            <header>
                <h1 class="display-5">Actualizar</h1>
            </header>
            <hr>
            <Body>
                <form asp-page-handler = "Update_set" method="post">
                    <div class="FormContainer">

                        <label>ID Persona</label>
                        <input name="Update_OperarioID"   asp-for="persona.Id_Persona" autocomplete="off" class="FormInput" placeholder="ID" readonly>
                        
                        <label>Nombre Operario</label>
                        <input name="Update_NombreOperario"      asp-for="persona.Nombre" autocomplete="off" class="FormInput" placeholder="Nombre">
                        
                        <label>Telefono</label>
                        <input name="Update_Telefono"    asp-for="persona.Telefono" autocomplete="off" class="FormInput" placeholder="0" type="number">
                        
                        <label>Correo</label>
                        <input name="Update_Correo"      asp-for="persona.Correo" autocomplete="off" class="FormInput" placeholder="Ejemplo@correo.com" type="email">
                        
                       @* Genero Insertar *@
                    </div>
                    
                    <button class="btn btn-outline-secondary">
                        Actualizar 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                </form>
                <a href="./RegistroOperario">Volver</a>
            </Body>
        }

    </div>

    @*-
        CRUD [READ]

        Aqui esta todo el html para hacer una consulta usa un form que tiene como
        web handler el metodo read que esta definido en el modelo.
    *@
    <div class="Transbox">
        <header>
            <h1 class="display-5">Busqueda</h1>
        </header>
        <hr>

        <body>

            <div class="FormContainer">
                <div>
                    <form asp-page-handler="read" method="post">
                        <label for="lolaso" style="padding-right: 1rem;">Buscar Operario</label>
                        <input name="lolaso" @*list="SearchGalponID"*@ type="text"  class="FormInput" id="ComboBox"
                            placeholder="-Buscar ID Operario-">

                        @* <datalist id="SearchGalponID">
                            <option value="0001"></option> 
                            @foreach (var Per in Model.personas)
                            {
                                if (Model.persona.ID_Rol.Equals(1))
                                {
                                    <option value="@Model.persona.Id_Persona">@Model.persona.Nombre</option>
                                }
                            }
                        </datalist> *@

                        <button  class="btn btn-outline-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </form>
                </div>
                
                


                @if (Model.searchQueried)
                {
                    
                    @if (Model.persona == null || Model.persona.ID_Rol.Equals(2))
                    {
                        <h3 class="clearfix">@Model.Message</h3>
                        <img src="https://i.ytimg.com/vi/HR7L_mOsa80/maxresdefault.jpg" alt="GODDAMMIT KRISS"
                    style="width:700px;height:500px;">
                    }
                    else
                    {
                        if (Model.persona.ID_Rol.Equals(1))
                        {
                            <div style="margin-bottom: 2rem;">
                                <Table class="infoTable">
                                    <tr>
                                        <th>Nombres:</th>
                                        <td id="OperarioNombre">@Model.persona.Nombre</td>
                                    </tr>
                                    <tr>
                                        <th>Telefono:</th>
                                        <td id="OperarioTelefono">@Model.persona.Telefono</td>
                                    </tr>
                                    <tr>
                                        <th>Genero:</th>
                                        <td id="OperarioGenero">@Model.persona.Genero</td>
                                    </tr>
                                    <tr>
                                        <th>Correo:</th>
                                        <td id="OperarioTelefono">@Model.persona.Correo</td>
                                    </tr>
                                    <tr style="border-top: 3px solid #aaaaaa;">
                                        <th>ID Galpón Asignado:</th>
                                        <td id="GalponAsignado">
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Nombre Galpón:</th>
                                        <td id="GalponNombre"></td>
                                        
                                    </tr>
                                </Table>
                            </div>

                        }
                    }
                }


                <div style="display: flex; justify-content: space-around;">
                    @if (Model.persona != null && Model.searchQueried)
                    {
                        <form asp-page-handler="Update_get" method="post">
                            <input type="hidden" name="TempID" asp-for="persona.Id_Persona">
                            <button class="btn btn-outline-secondary">
                                Editar
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button>
                            <input type="hidden" value="31">
                        </form>
                        <form asp-page-handler="delete" method="post">
                            <input type="hidden" name="TempID" asp-for="persona.Id_Persona">
                            <button class="btn btn-outline-danger">
                                Eliminar 
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                            </button>
                        </form>
                    }
            </div>
        </body>
    </div>
</div>